html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

.Table {
    display: table;
    table-layout: fixed;
    width: 50%;
}

.Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.Heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.Row {
    display: table-row;
}

.Cell {
    display: table-cell;
    border-width: thin;
    border: solid;
    padding :0 5px 0 5px;
    min-width: 232px;
    max-width: 150;
}

.tab-content h3{
    font-size: 30px;
}

.tab-content h4{
    font-size: 15px;
}
.nav-tabs{
  font-size: 18px;
}
